@using Microsoft.AspNetCore.Identity
@using PieShop.Components
@inject SignInManager<IdentityUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="~/content/site.css" rel="stylesheet" />

	<title>Pie shop</title>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<nav class="navbar navbar-expand-sm navbar-light bg-light">
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
							aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item">
								<a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" asp-controller="Pie" asp-action="List">Pies</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" asp-controller="Feedback" asp-action="Index">Feedback</a>
							</li>
							@if (SignInManager.IsSignedIn(User))
							{
								<li>
									Loggen in as @User.Identity.Name
								</li>
								<li>
									<form asp-controller="Account" asp-action="Logout" id="logoutForm" method="post">
										<a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
									</form>
								</li>
							}
							else
							{
								<li class="nav-item">
									<a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" asp-controller="Account" asp-action="Register">Register</a>
								</li>
							}

							@await Component.InvokeAsync(nameof(CategoryMenu))
							@await Component.InvokeAsync(nameof(ShoppingCartSummary))
						</ul>
					</div>
				</nav>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-lg-4 col-xl-3">
				<img src="~/images/bethanylogo.png" class="img-fluid mx-auto d-block" />
			</div>
			<div class="col-md-12 col-lg-8 col-xl-9">
				@await Html.PartialAsync("Carousel")
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-lg-4 col-xl-3">
			</div>
			<div class="col-md-12 col-lg-8 col-xl-9">
				@RenderBody()
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
			integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
			integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
			crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
			integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
			crossorigin="anonymous"></script>

	@RenderSection("scripts", required: false)
</body>
</html>